@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700&subset=cyrillic');

@font-face {
	font-family: "Roboto";
	src:url("/fonts/Roboto-Regular.ttf");
}
@font-face{
	font-family: "Roboto";
	src:url("/fonts/Roboto-Bold.ttf");
	font-weight: 800;
}
@font-face{
	font-family: "Roboto";
	src:url("fonts/roboto-Light.ttf");
	font-weight: 300;
}

html body{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}