@media screen and (max-width: 620px) {
	.header{
		padding: 0px 20px;
	}
	
}

body{
	overflow-x: hidden;
}
.header
{
    height: 100vh;

    background-image: url('../img/background-dark.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.banner
{
    text-align: center;

    color: #fff;
    h1
    {
        font-size: 72px;
        font-weight: 300;
        
        letter-spacing: 2.5px;
        
        text-transform: uppercase;
        
        margin: 0px;
        margin-bottom: 26px;

        line-height: 1em
    }
    h3
    {
        font-size: 22px;
        font-weight: 300;
        
        letter-spacing: 2px;

        margin: 0;

        line-height: 1em;
        .--goldColor
        {
			color: rgb(255, 189, 74);
        }
    }
}
.banner__footer
{
	color: $colorW;

	opacity: .6;
	
	font-size: 14px;

	margin-bottom: 40px
}
.swicher-lang{
	position: absolute;
	top: 50%;
	left: 0;
	
	color: $colorW;
	padding: 20px;
	font-weight: bold;

	display: block;

	text-decoration: none;

}
