@media screen and (max-width: 620px) {
	.header{
		padding: 0px 20px;
	}
	
}

$gray-base :#000;

@mixin translate($x, $y) {
  transform: translate($x, $y);
}

@mixin background-size($size) {
    background-size: $size ;

}

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba($gray-base, .5);
        z-index: 1;
    }
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url('../img/background-dark.jpg') center center / cover no-repeat;
    @include background-size(cover);
  }

  .fullscreen-bg__video {
    display: none;
  }
}

body{
	overflow-x: hidden;
}
.header
{
    height: 100vh;

    // background-image: url('../img/background-dark.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.banner
{
    text-align: center;

    color: #fff;
    margin-bottom: 100px;
    h1
    {
        font-size: 72px;
        font-weight: 300;
        
        letter-spacing: 2.5px;
        
        text-transform: uppercase;
        
        margin: 0px;
        margin-bottom: 26px;

        line-height: 1em
    }
    h3
    {
        font-size: 22px;
        font-weight: 300;
        
        letter-spacing: 2px;

        margin: 0;

        line-height: 1em;
        .--goldColor
        {
			color: rgb(255, 189, 74);
        }
    }
}
.banner__footer
{
	color: $colorW;

	opacity: .6;
	
	font-size: 14px;

	margin-bottom: 40px
}
.swicher-lang{
	position: absolute;
	top: 50%;
	left: 0;
	
	color: $colorW;
	padding: 20px;
	font-weight: bold;

	display: block;

	text-decoration: none;

}
