.langswitch-btn{
	position: relative;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 2px solid #2C2F33;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	cursor: pointer;
	transition: ease-in-out 0.3s;
	&:hover{
		border-color: $colorMain;
	}
	.bx-wrapper{
		margin: 0;
		line-height: 3.7;
	}

}

.langswitch{
	position: absolute;
	width: 50px;
	top: 90px;
	display: none;
}

.langswitch-item{
	position: relative;
	width: 80px;
	padding: 12px 0px;
	.lang{
		color: #fff;
		transition: ease-in-out 0.3s;

		&:hover{
			.flag{
				opacity: 1;
			}
			span{
				opacity: 0;
			}
		}

	}
}

.flag{
	position: absolute;
	left: 0;
	top: 0;
	width: 40px;
	height: 40px;
	opacity: 0;
	transition: ease-in-out 0.3s;
}
body.blur{
	transition: opacity ease-in-out 0.7s;
	opacity: 0;
}
@media screen and (max-width: 780px){
	ul.langswitch{
		display: flex;
		justify-content: space-around;
		bottom: 0px;
		top: auto;
		width: auto;
		margin: 0 auto;
		left: 0;
		right: 0;
		.langswitch-item{
			display: inline-block;
		}
	}
}
