.langswitch{
	position: absolute;
	width: 50px;
	top: calc(50vh - 72px);
	left: 10px;
}

.langswitch-item{
	position: relative;
	width: 80px;
	padding: 12px 0px;
	.lang{
		color: #fff;
		transition: ease-in-out 0.3s;

		&:hover{
			.flag{
				opacity: 1;
			}
			span{
				opacity: 0;
			}
		}

	}
}

.flag{
	position: absolute;
	left: 0;
	top: 0;
	width: 40px;
	height: 40px;
	opacity: 0;
	transition: ease-in-out 0.3s;
}
body.blur{
	transition: opacity ease-in-out 0.7s;
	opacity: 0;
}
@media screen and (max-width: 780px){
	ul.langswitch{
		display: flex;
		justify-content: space-around;
		bottom: 0px;
		top: auto;
		width: auto;
		margin: 0 auto;
		left: 0;
		right: 0;
		.langswitch-item{
			display: inline-block;
		}
	}
}
