
.manual-container{
	min-width: 100vw;
	min-height: 100vh;
	background: #fff;
	background-image: url('../img/manual-background.svg'), none;
	text-align: center;
	.navbar{
		svg{
			#Artboard{
				fill: #000 !important;
			}
		}
		.links__item{
			color: #000;
		}
		.langswitch-carusel{
			color: #000;
		}
		.langswitch-item{
			text-align: left;
			span{
				color:#000;
			}
		}
		.feedback-container{
		    position: relative;
		    .white{
		       color: #fff;
		    }
		    .--feedback{
		        position: relative;
		        z-index: 2;
		    }
		    .feedback-wrap{
		    	background-color: rgba(0,0,0,0.4);
		    }
		}
	}

	h2{
		font-size: 40px;
		margin-top: 108px;
		margin-bottom: 0;
	}
	p{
		margin-top: 0;
		margin-bottom: 152px;
		font-size: 16px;
	}
	

}