.sidebar
{
    position: absolute;
    top: 0;
    right: 20px;

    width: 70px;
    height: 70px;
    display: none;

    cursor: pointer;
    text-align-last: left;

    // background-color: rgba(0,0,0,.2);


    transition: ease .2s;
}

/* CLOSE */
.close .rect:nth-of-type(1),
.close .rect:nth-of-type(2),
.close .rect:nth-of-type(3)
{
    transition: all 500ms;

    fill: white;
}

/* OPENED */

.opened .rect:nth-of-type(1)
{
    transition: all 500ms;
    transform: rotate(45deg) translate(10px, -105px);

    fill: white;
}

.opened .rect:nth-of-type(2)
{
    fill: transparent;
}

.opened .rect:nth-of-type(3)
{
    transition: all 500ms;
    transform: rotate(-45deg) translate(-160px, 65px);

    fill: white;
}


.navbar
{   
    position: relative;
    z-index: 3;
    display: flex;
    width: 94vw;

    text-align: center;

    margin: 0 auto;

    justify-content: space-between;
    .logo__top
    {
        padding: 20px 2px 2px 2px;
        height: 88px;
        margin: 0px 8px;
        transition: ease .3s;
    }
    .header__logo{
        display: block;
        text-transform: none;
    }
    .header__logo:hover
    {
        .logo__top
        {
            background-color: $colorMain;
        }
    }
    .navbar__links
    {
        display: flex;

        align-items: center;
        .links__item
        {
            font-weight: 500;

            display: inline-block;

            margin: 10px 20px;

            text-decoration: none;
            text-transform: uppercase;

            color: $colorW;

            transition: ease-in-out 0.2s;
            &:after{
                position: relative;

                display: block;

                width: 0;
                height: 3px;

                content: '';

                background-color: $colorMain;

                visibility: hidden;

                transition: ease-in-out 0.2s;
            }
            &:hover{
                &:after{
                    visibility: visible;
                    width: 100%;
                }
            }
        }
    }
}
.feedback-container{
    position: relative;
    .space-close{
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0px;
        left: 0;
        z-index: 2;
    }
    .--feedback{
        position: relative;
        z-index: 4;
    }


    .feedback-wrap{
        position: absolute;
        top: 0px;
        
        display: none;

        padding-top: 50px;
        padding-bottom: 10px;
        background-color: #333333;
        border-radius: 15px;
        z-index: 3;
        text-align: center;

        a.feedback-ico[href="https://www.linkedin.com/company/onplace-inc."]{
            svg{
                g{
                    fill: #FAFAFA !important;
                }
            }
        } 
        
        .feedback-ico{
            position: relative;
            z-index: 3;
            path,
            ellipse,
            path,
            rect{
                transition: ease-in-out 0.2s;

            }
            

            &:hover{
                text-decoration: none;
                path,
                ellipse,
                {
                    stroke: $colorMain;
                }
                path,
                rect{
                    fill: $colorMain;
                }
                #sharp,
                #twitter,
                #telegram,
                #wechat,{
                    path{
                        fill:none;
                        stroke: $colorMain;
                    }
                }
            }
        }


        svg{
            width: 40px;
            height: 100%;
            margin: 5px;

        }
    }
}
