.navbar{
    .footer-contacts{
        display: none;
        width: 200px;
        padding: 10px 20px;
        color: #FFFFFF;
        position: absolute;
        bottom: 0;

    }
}
@media screen and (max-width: 960px)
{   
    .header{
        
    }
    .feedback-container .feedback-wrap{
        width: 260px;
        right: 0;
        box-shadow: -1px 2px 12px -3px #000;
    }
    div.navbar
    {
        .footer-contacts{
            display: block;
        }
        .navbar__links
        {
            position: fixed;
            top: 0;
            right: 0;

            margin-right: -3vw;

            flex-direction: column;

            width: 0px;
            height: 100vh;

            opacity: 0;
            
            visibility: hidden;

            transition: ease .2s;

            background-color: rgba(0,0,0,.6);

            align-items: flex-end;
            text-align: left !important;



        }
        .--visible
        {
            top: 0;
            right: 0;

            width: 200px;
            visibility: visible;

            opacity: 1;

            align-items: flex-start;
            z-index: 1;
        }
        .sidebar{
            display: block;
            z-index: 1;
        }

        .sidebar.--on{
            right: 180px;
            position: fixed;
        }

    }

}
// @media screen and (max-width: 620px)
// {
//      div.navbar
//     {
//         .navbar__links
//         {
//             right: -20px;
//         }
//     }
// }

.burger-icon{
    width: 100%;
    height: 70px;
}
