.cover {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    transition: ease-in-out 2s;
    display: none;
    background: rgba(0, 0, 0, 0.5);
}





.pop-up {
    width: 520px;
    position: fixed;
    margin: 10% auto;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;
    display: none;
}

.box {
    background-color: whitesmoke;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.1);
}


.close-button {
    transition: all 0.5s ease;
    position: absolute;
    padding: 1.5px 7px;
    right: 0;
    top: 10px;
    margin-left: -10px;
    margin-top: -9px;
    color: rgba(0, 0, 0, 0.7);
}

.close-button:hover {
    color: rgba(0, 0, 0, 0.4);
    text-decoration: none;
}
.lang-item{
    padding: 5px;
}