.team{
  background-color: #333333;
  color: #FAFAFA;
  text-align: center;
  h2{
    position: relative;
    z-index: 2;
    font-size: 40px;
    margin-top: 108px;
    margin-bottom: 0;
  }
  p{
    position: relative;
    z-index: 2;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
  }
  .footer-sub{
    background: none;
  }
}
.team.white{
  .navbar{
    svg{
      #Artboard{
        fill: #333333 !important;
      }
    }
    .links__item{
      color: #333333;
    }
    .langswitch-carusel{
      color: #333333;
    }
    .langswitch-item{
      text-align: left;
      span{
        color:#333333;
      }
    }
    .feedback-container{
        position: relative;
        .white{
           color: #fff;
        }
        .feedback-wrap{
          background-color: rgba(0,0,0,0.4);
        }
    }
  }
  .footer{
    color: #9B9B9B;
  }
  .team-pagetitle,
  .team-page_discription{
    color: #333333;
  }
}
@media screen and (max-width: 1240px)  {
  .team{
    padding: 0px 20px;
  }
}

.team-wrapper{
  max-width: 1200px;
  margin: -155px auto;
  position: relative;
  top: -155px;
  z-index: 1;
  .member-picture{
    cursor: pointer;
    transition: ease-in-out 0.2s;
    &:hover{
      opacity: 0.5;
      // transform: scale(1.1);
    }

  }
  svg{
    position: relative;
    z-index: 0;
    height: 100%;
  }
  .descriptions{
    position: absolute;
    width: 100%;
    top: 0;
  }
  .description-item{
    position: absolute;
    top: 460px;
    right: 0;
    width: 420px;
    border: 1px solid #FAFAFA;
    background-color: rgba(51,51,51,0.5);
    padding: 20px;
    text-align: left;
    display: none;
    min-height: 337px;
    
    .member-name{
      font-size: 20px;
      margin: 0;
      margin-bottom: 15px;
    }
    .member-links,  
    .member-position,
    .member-objective{
      margin: 0;
      font-size: 13px;
      line-height: 18px;
      font-family: "Open Sans";
    }
    .member-links{
      text-align: right;
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 20px;
      a{
        color: #FAFAFA;
      }
    }
  }
}
.backgrounds{
  width: 100vw;
  height: 100vh;
  top: 0;
  position: fixed;
  overflow: hidden;
  .backgrounds-item{
    position: absolute;
    width: 100vw;
    height: 130vh;
    top: 0;
    left: 0;
    z-index: 0;
    display: none;
  }

  #Edward-background{
    background: url("../img/team/Edward.jpg") top 0px right 0px / cover no-repeat;
  }
  #Andrei-background{
    background: url("../img/team/Andrei.jpg") top 0px right 0px / cover no-repeat;
  }
  #Mike-background{
    background: url("../img/team/Mike.jpg") top 0px right 0px / cover no-repeat;
  }
  #Dmitriy-background{
    background: url("../img/team/Dmitriy.jpg") top 0px right 0px / cover no-repeat;
  }
  #Ilya-background{
    background: url("../img/team/Ilya.jpg") top 0px right 0px / cover no-repeat;
  }
  #Oleg-background{
    background: url("../img/team/Oleg.jpg") top 0px right 0px / cover no-repeat;
  }
  #Michael-background{
    background: url("../img/team/Michael.jpg") top 0px  right 0px / cover no-repeat;
  }
  #Eugene-background{
    background: url("../img/team/Eugene.jpg") top 0px right 0px / cover no-repeat;
  }
}

.bx-wrapper {
  position: absolute;
  top: 0;
  // margin-bottom: 60px;
  padding: 0;
  *zoom: 1;
}
.bx-wrapper img {
  max-width: 100%;
  display: block;
}
.bxslider {
  margin: 0;
  padding: 0;
}
ul.bxslider {
  list-style: none;
}
.bx-viewport {
  -webkit-transform: translateZ(0);
}
