
.teampage
{
   background-image: url("../img/background-team.jpg");
   background-size: cover;
   background-origin: content-box;
   min-height: 100vh;
}
.profile
{
    background: rgba(157,202,234,0.5);
    background: linear-gradient(to bottom, rgba(157,202,234,0.5) 0%, rgba(30,157,242,0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dcaea', endColorstr='#1e9df2', GradientType=0 );
    
    color: #fff;
    font-weight: 300;
    font-size: 21px;

    display: flex;
    margin-left: 3.9vw;

    .profile-img{
    }
    .profile-content{
        display: flex;
        flex-direction: column;
        padding: 0px 50px;
        justify-content: space-between;

        .name{
            margin-bottom: 0;
            font-size: 40px;
            font-weight: 500;
            line-height: 1;
        }
        .position{
            margin-bottom: 40px;
        }
        .links{
            text-align: right;
            padding: 20px 30px;
            a{
                color: #fff;
            }
        }
    }
}



.bx-wrapper {
    margin-top: 60px;
  position: relative;
  padding: 0;
  *zoom: 1;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}
.bx-wrapper img {
  max-width: 100%;
  display: block;
}
.bxslider {
  margin: 0;
  padding: 0;
}
ul.bxslider {
  list-style: none;
}
.bx-viewport {
  /*fix other elements on the page moving (on Chrome)*/
  -webkit-transform: translatez(0);
}
/** THEME
===================================*/
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -30px;
  width: 100%;
}
/* PAGER */
.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px;
}
.bx-wrapper .bx-pager.bx-default-pager a {
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
  background: $colorMain;
}
.bx-wrapper .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  vertical-align: bottom;
  *zoom: 1;
  *display: inline;
}
.bx-wrapper .bx-pager-item {
  font-size: 0;
  line-height: 0;
}
