<div class="fullscreen-bg">
  <video loop muted autoplay poster="img/bacground-dark.jpg" class="fullscreen-bg__video">
    <source src="img/video/background-video.mp4" type="video/mp4"> 
    <!-- add .ogv and .webm to cover all compatible devices  -->
  </video>
</div>
<section class="header" id="homepage">
	//= navbar.html
	<div class="banner">
		<h1 class="banner__brand">OnPlace Inc.</h1>
		<h3 class="banner__description">BECOME AN INVESTOR OF <span class="--goldColor">PRIVATE COMPANIES</span> WITH US.</h3>
	</div>
	<div class="banner__footer">PO Box 55071, Boston, MA 02205-5071, US</div>
</section>