	<div class="navbar">
		<a href="index.html" class="header__logo">
			<header class="logo__top"><img width="80px" src="img/logoP.png"></header>
		</a>
		<div class="sidebar">
			<svg class="burger-icon" id="svg1" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
			x="0px" y="0px" viewBox="220 -260 50 800" xml:space="preserve">
				<g id="burger" class="close">
				<rect class="rect" x="96" y="1" class="st0" width="320" height="32"/>
				<rect class="rect" x="96" y="92" class="st0" width="320" height="32"/>
				<rect class="rect" x="96" y="187" class="st0" width="320" height="32"/>
				</g>
			</svg>
		</div>
		<div class="navbar__links">
			<a href="roadmap.html" class="links__item --roadmap">roadmap</a>
			<a href="team.html" class="links__item --team">team</a>
			<a href="https://onplace-advisors.slack.com/" class="links__item --slack">#slack</a>
			<a href="#" class="links__item --blog">blog</a>
			<a href="https://twitter.com/on_place" class="links__item --tw">twitter</a>

			<a href="#" id="show-pop-up" class="links__item --downl">Whitepaper</a>
                              
		</div>
	</div>