	<div class="navbar">
		<div class="header__logo">
			<header class="logo__top"><img width="80px" src="img/logoP.png"></header>
		</div>
		<div class="navbar__links">
			<div class="sidebar">
				<svg id="svg1" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
				x="0px" y="0px" viewBox="0 0 50 800" xml:space="preserve">
					<g id="burger" class="close">
					<rect class="rect" x="96" y="1" class="st0" width="320" height="32"/>
					<rect class="rect" x="96" y="92" class="st0" width="320" height="32"/>
					<rect class="rect" x="96" y="187" class="st0" width="320" height="32"/>
					</g>
				</svg>
			</div>
			<a href="#" class="links__item --home --active">home</a>
			<a href="#" class="links__item --roadmap">roadmap</a>
			<a href="team.html" class="links__item --team">team</a>
			<a href="#" class="links__item --slack">#slack</a>
			<a href="#" class="links__item --blog">blog</a>
			<a href="" class="links__item --tw">twitter</a>
			<a href="#" class="links__item --switcher"><span class="switcher --eng">Eng</span>/<span class="switcher --china">Ch</span></a>
                              
		</div>
	</div>