
  
</div>
  <div class="pop-up">
    <div class="box">
      <a href="#" class="close-button">&#10006;</a>
      <ul class="lang-list">
        <li class="lang-item"><a href="">Lorem.</a></li>
        <li class="lang-item"><a href="">Aliquid.</a></li>
        <li class="lang-item"><a href="">Dignissimos.</a></li>
        <li class="lang-item"><a href="">Assumenda.</a></li>
        <li class="lang-item"><a href="">Ea!</a></li>
        <li class="lang-item"><a href="">Iste?</a></li>
      </ul>
    </div>
  </div>