<section class="teampage">
	//= navbar.html
	
	<ul class="bxslider">
		<li class="profile">
			<div class="profile-img"><img src="img/team/t1.jpg" alt="Evgeniy Perikov"></div>
			<div class="profile-content">
				<header>
					<h3 class="name">Evgeniy Perikov</h3>
					<div class="position">OnPlace inc. Founder</div>
					<div class="objective">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat provident, ipsa adipisci voluptatibus quod accusamus facere accusantium doloribus. Eum repudiandae, consequatur ipsum nam facilis eveniet aperiam dolores quae voluptatum suscipit?</div>
				</header>
				<div class="links"><a href="" class="link-ln">LinkedIn</a> | <a href="" class="link-tw">Twitter</a></div>
			</div>
		</li>
		<li class="profile">
			<div class="profile-img"><img src="img/team/t2.jpg" alt="Evgeniy Perikov"></div>
			<div class="profile-content">
				<header>
					<h3 class="name">Evgeniy Perikov</h3>
					<div class="position">OnPlace inc. Founder</div>
					<div class="objective">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat provident, ipsa adipisci voluptatibus quod accusamus facere accusantium doloribus. Eum repudiandae, consequatur ipsum nam facilis eveniet aperiam dolores quae voluptatum suscipit?</div>
				</header>
				<div class="links"><a href="" class="link-ln">LinkedIn</a> | <a href="" class="link-tw">Twitter</a></div>
			</div>
		</li>
		<li class="profile">
			<div class="profile-img"><img src="img/team/t3.jpg" alt="Evgeniy Perikov"></div>
			<div class="profile-content">
				<header>
					<h3 class="name">Evgeniy Perikov</h3>
					<div class="position">OnPlace inc. Founder</div>
					<div class="objective">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat provident, ipsa adipisci voluptatibus quod accusamus facere accusantium doloribus. Eum repudiandae, consequatur ipsum nam facilis eveniet aperiam dolores quae voluptatum suscipit?</div>
				</header>
				<div class="links"><a href="" class="link-ln">LinkedIn</a> | <a href="" class="link-tw">Twitter</a></div>
			</div>
		</li>
	</ul>
</section>