<section class="teampage">
	//= navbar.html
	<h1 class="title">team</h1>
	<div class="wrapper">
		<div class="profile">
			<div class="profile__photo"><img src="img/team/k11_1.jpg" alt=""></div>
			<div class="profile__wrap">
				<h3 class="profile__name">Evgeniy Perikov</h3>
				<div class="profile__position">OnPlace Inc. Founder</div>
				<div class="profile__links"><a href="" class="links__item --ln">LinkedIn</a> <span>|</span> <a href="" class="links__item --tw">Twitter</a></div>
				<p class="profile__description">Graduated from the faculty of Applied Informatics in Economics. Worked at Olympstroy as the head of logistics department for 6 years. <br/>Owner of the hotel and hostel business for 5 years. Hosted 3 640 Chinese tourists during the four-month period in 2016.</p>
			
			</div>	
		
		</div>
		
		<div class="profile">
			<div class="profile__photo"><img src="img/team/k1_4.jpg" alt=""></div>
			<div class="profile__wrap">
				<h3 class="profile__name">Evgeniy Perikov</h3>
				<div class="profile__position">OnPlace Inc. Founder</div>
				<div class="profile__links"><a href="" class="  --ln">LinkedIn</a><span>|</span><a href="" class="links__item --tw">Twitter</a></div>
				<p class="profile__description">Owner of the hotel and hostel business for 5 years. Hosted 3 640 Chinese tourists during the four-month period in 2016.</p>
			
			</div>	
		
		</div>

		<div class="profile">
			<div class="profile__photo"><img src="img/team/k22_1.jpg" alt=""></div>
			<div class="profile__wrap">
				<h3 class="profile__name">Evgeniy Perikov</h3>
				<div class="profile__position">OnPlace Inc. Founder</div>
				<div class="profile__links"><a href="" class="links__item --ln">LinkedIn</a><span>|</span><a href="" class="links__item --tw">Twitter</a></div>
				<p class="profile__description">Graduated from the faculty of Applied Informatics in Economics. Worked at Olympstroy as the head of logistics department for 6 years. <br/> Owner of the hotel and hostel business for 5 years. Hosted 3 640 Chinese tourists during the four-month period in 2016.</p>
			
			</div>	
		
		</div>

		<div class="profile">
			<div class="profile__photo"><img src="img/team/k2_3.jpg" alt=""></div>
			<div class="profile__wrap">
				<h3 class="profile__name">Evgeniy Perikov</h3>
				<div class="profile__position">OnPlace Inc. Founder</div>
				<div class="profile__links"><a href="" class="links__item --ln">LinkedIn</a><span>|</span><a href="" class="links__item --tw">Twitter</a></div>
				<p class="profile__description">Owner of the hotel and hostel business for 5 years. Hosted 3 640 Chinese tourists during the four-month period in 2016.</p>
			
			</div>	
		
		</div>
	</div>
</section>